<!doctype html>
<html class="no-js" lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/css/foundation.css}">
    <link rel="stylesheet" th:href="@{/css/app.css}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
</head>
<body>

<div class="grid-container">
    <div th:replace="fragments/menu.html :: menu">

    </div>

    <form th:action="'/twit/' + ${twit.getId()} + '/edit'" method="post">
        <div><label>Content: </label></div>
        <div><input type="text" name="content" th:value="${twit.getContent()}"/></div>
        <div><input type="submit" value="Send"/></div>
    </form>

</div>

<script src="/js/vendor/jquery.js"></script>
<script src="/js/vendor/what-input.js"></script>
<script src="/js/vendor/foundation.js"></script>
<script src="/js/app.js"></script>
</body>
</html>
